<h1>Seja bem vindo!</h1>
<p> The language used in the application is: <strong> <%= t('actual_locale') %> </strong></p>
<%= render "date" %>
<ul>
    <li><%= link_to "Register new coins", coins_path %></li>
    <li><%= link_to "Type of mining", mining_types_path %></li>

    <p>you are in <%= environment_rails %>!</p>

    <p>My name is <%= @name_get %></p>
</ul>